@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

#fundo{
    background-image: url(imagens/fundo.png);
    background-attachment: fixed;
    min-width: 100px;
    max-width: 1400px;
    min-height: 100px;
    max-height: 1000px;
}
#fundo2{
    background-image: url(imagens/fundo2.png);
    background-attachment: fixed;
    min-width: 100px;
    max-width: 1400px;
    min-height: 100px;
    max-height: 1000px;
}
#fundo-sobre{
    background-image: url(imagens/fundo-sobre.png);
    background-attachment: fixed;
    min-width: 100px;
    max-width: 1400px;
    min-height: 100px;
    max-height: 1000px;
}
#fundo-contato{
    background-image: url(imagens/fundo-contato.png);
    background-attachment: fixed;
    min-width: 100px;
    max-width: 1400px;
    min-height: 100px;
    max-height: 1000px;
}
ul{
    text-align: end;
}
.linha li{
    margin-top: 30px;
    font-family: sans-serif;
    color: rgb(93, 8, 119);
    display: inline-block;
    padding-right: 5%;

}
li a { /* Todo A que estiver dentro de LI não vai ter decoração*/
    text-decoration: none;
}
#login{
    background-color: #521589;
    color: aliceblue;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}
#login:hover{
    background-color: #b364fe;
    color: #ffffff;
}
.container{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 13%;
    min-width: 300px;
    max-width: 450px;
}
.container h1 {
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.176);
    color: #521589;
}
.container p{
    line-height: 30px;
    color: rgb(0, 126, 115);
}
.mensagem{
    text-align: justify;
    min-height: 100px;
    width: 400px;
}
.contato{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 10% 14%;
    min-width: 300px;
    max-width: 450px;
}
.contato h1 {
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.176);
    color: #521589;
}
.contato p{
    line-height: 30px;
    color: rgb(0, 126, 115);
}
