@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-primaria-success : #260B01;
    --cor-hover-success: #F2A594;
    --cor-secundaria-success : rgb(255, 255, 255);
}

header{
    margin: auto;
}
body{
    text-align: center;
    background:white url(imagens/fundo.png) center center no-repeat fixed;
    /*background-image: linear-gradient(to bottom, #ffd2c8, #c49287);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    color: #735F5E;
    font-family: 'Times New Roman', Times, serif;  
    margin: auto;

}
a{
    color: #580000;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(63, 0, 0, 0.445);

}
a:hover{
    color: #5800007e;
}
img.menor{
    width: 148px;
    border-radius: 10px;
    margin-top: 10px;
}
img.media{
    display: inline-block;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123);
}
.botao{
    background-color: #260B01;
    color: #F2A594;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    border-radius: 20px;
    padding: 8px 3px 8px 3px;
    min-width: 100px;
    max-width: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    text-decoration: none;
    cursor: pointer;
}
.botao-success{
    background-color: var(--cor-primaria-success);
    outline: none;
}
.botao-success:hover{
    background-color: var(--cor-hover-success);
    color: #260B01;
}
p {
    margin: auto;
    padding: 10px;
    text-align: justify;
    max-width: 700px;
    font-size: 1.5em;
    color: #260B01;
}
h1{
    padding: 2px;
    margin: auto;
    background-color: #74351e;
    color: #F2A594;
    border-radius: 5px;
    max-width: 1200px;
}
h2{
    color: #260B01;
    display: inline-block;
}
footer{
    background-color: #260B01;
    color: #F2A594;
    margin: 30px 0px 0px 0px;
    padding: 20px;
    text-align: justify;
}
footer > p {
    text-align: justify;
    font-size: 16px;
    color: #F2A594;
}
p.sobre{
    text-align: center; 
    display: inline-block;
    max-width: 700px;
}
p > a{
    max-width: 50px;
}
ul{

    line-height: 2em;
    margin: 0;
}
.negrito{
    font-size: 25px;
}
.container{
    margin: auto;
    padding: 5px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
}
.footerrow{
    display: flex;
    flex-wrap: wrap;
    
}
.footercol{
    width: 25%;
    line-height: 2em;
    font-size: 18px;
}
#img01{
    width: 240px;
    height: 280px;
    border-radius: 10px;
    margin-top: 10px ;
    background-image: url(imagens/imagem-grande/brig1.png);
    background-position: center center;
    background-size: cover;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.301);
}
p.valor{
    margin-top: 7%;
    margin-right: 70%;
    font-size: 18px;
    text-align: center;
    background-color: #260B01;
    padding: 4px 20px;
    color: #F2A594;
    border-radius: 5px;
    width: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

p.quero{
    margin-top: -13%;
    margin-left: 55%;
    font-size: 18px;
    text-align: center;
    background-color: #F5C856;
    padding: 4px 20px;
    color: #8C583A;
    border-radius: 5px;
    width: 70px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}

p.sabor{
    margin-top: 140px;
    font-size: 20px;
    text-align: justify;
    color: #F5C856;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
}
p.descricao{
    margin-top: -15px;
    font-size: 14px;
    text-align: justify;
    color: #F2A594;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
}